<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付费用</title>
    <script src="../js/axios.js"></script>
</head>
<body>
<span>成功</span>
<input type="text" v-model="kemu" id="kemu" placeholder="请输入科目数字">
<input type="text" v-model="kemu" id="cost" placeholder="请输入支付费用">
<input type="button" id="but1" value="点击提交">
</body>
<script>
    let but1=document.getElementById('but1');
    but1.addEventListener('click',()=>{
        axios.post('http://localhost:8080/exam/pay2', {
            sub_id: 1,
            price: 100
        }
        // , {
        //     headers: {
        //         Authorization: authorization
        //     }
        // }
        )
            .then(resp => {
                console.log(resp)

            })
            .catch(err => {
                console.log(err)
            })
    })
</script>

</html>